<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339699025917-3p5v0bsik0jvisujs4ft48lb9gu9lool.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339699025917-3p5v0bsik0jvisujs4ft48lb9gu9lool</string>
	<key>API_KEY</key>
	<string>AIzaSyBIiZVSgcju5Azr9UqK2T_Pi5OSqQN3Ibw</string>
	<key>GCM_SENDER_ID</key>
	<string>339699025917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meetzy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>social-experiment-90137</string>
	<key>STORAGE_BUCKET</key>
	<string>social-experiment-90137.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339699025917:ios:aaccf28e6da8ac63cb7b94</string>
	<key>DATABASE_URL</key>
	<string>https://social-experiment-90137-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>